@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #e2e8f0;
}
/* HEADER NAV LINKS */
.lineLink {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;
  position: relative;
}

.lineLink::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0.1rem;
  background-color: #dc2626;
  transition: all 300ms ease-in-out;
}

.lineLink:hover::after {
  left: 10%;
  width: 2rem;
}
/* TOOLTIP */
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* .tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
} */

.tooltip:hover .tooltiptext {
  font-size: small;
  visibility: visible;
  opacity: 1;
}
